<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MAN ALIVE!</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <link href="/custom/css/register.css" rel="stylesheet">

    <th:block th:include="layout/header"></th:block>

    <main id="main">
        <div class="main-container">
            <div class="register-wrap">
                <h2>회원가입</h2>

                <div class="social-login-register" th:unless="${user}">
                    <a class="btn-google" href="/oauth2/authorization/google">
                        <i class="social-icon"><img class="social-icon-img" src="/custom/img/icon/icon-google.webp"></i>
                        <span>Google 계정으로 신규 가입</span></a>
                    <a class="btn-naver" href="/oauth2/authorization/naver">
                        <i class="social-icon"><img class="social-icon-img" src="/custom/img/icon/icon-naver.png"></i>
                        <span style="color:white;">네이버 계정으로 신규 가입</span></a>
                </div>
                <div class="or-div" th:unless="${user}">
                    <hr style="float: left">
                    <label style="color: #8D8D8D;">OR</label>
                    <hr style="float: right">
                </div>

                <form method="post" action="/user_register">
                    <div class="register-wrap-input-div">
                        <div th:if="${user}">
                            <input name="email" type="text" class="social-email" th:value="${user.email}" readonly><br>
                            <input name="name"  type="text" th:value="${user.name}" placeholder="이름을 입력해주세요."><br>
                        </div>
                        <div th:unless="${user}">
                            <div id="profileimg-div">
                                <input type="file" id="hdn-uploadBtn" name="uploadFile" style="display: none;" onchange="asyncUpload(this)">

                                <img id="profile-img" src="/custom/img/icon/icon-profile.jpg"><br>
                                <input type="button" id="profileImg-btn" value="프로필 사진 등록하기">
                            </div>
                            <input name="email" id="Email-Input" type="text" placeholder="사용하실 ID를 입력해주세요. (수신 가능 E-mail)"><br>
                            <input name="password" id="Password-Input" type="password" placeholder="영문+숫자+특수문자 6~15자리(특수문자 괄호()는 사용 불가)"><br>
                            <input name="password2" type="password" placeholder="패스워드를 다시 입력해주세요."><br>
                            <input name="name" type="text" placeholder="이름을 입력해주세요."><br>
                        </div>
                        <input name="nickname" type="text" placeholder="닉네임을 입력해주세요."><br>
                        <input name="phone" type="number" placeholder="휴대폰 번호 '-'표 없이 입력해주세요. (10자리)"><br>

                        <div th:unless="${user}">
                            <input type="submit" value="회원가입하기" id="Register-Btn" data-oper="standard" class="reg-btn">
                        </div>
                        <div th:if="${user}">
                            <input th:if="${user.getRole().getKey().equals('ROLE_GUEST')}"
                                   type="submit" value="회원가입하기" id="Social-Register-Btn" data-oper="social" class="reg-btn">
                        </div>
                    </div>
                    <input type="hidden" value="standard" id="oper" name="oper">
                </form>
            </div>
        </div>
    </main>

    <script src="/custom/js/register.js"></script>

    <th:block th:include="layout/footer"></th:block>