<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MAN ALIVE!</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <link href="/custom/css/register.css" rel="stylesheet">


    <th:block th:include="layout/header"></th:block>

    <main id="main">
       <h1>로그인 성공!</h1>
    </main>



    <script src="/custom/js/register.js"></script>

    <th:block th:include="layout/footer"></th:block>